html {
    scroll-behavior: smooth;
}

.no-scroll {
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--fond);
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

h1,
h2,
h3 {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

button {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Magic-Vintage';
    color: var(--rouge);
    text-shadow:
        4px 0 0 var(--jaune),
        -4px 0 0 var(--jaune),
        0 4px 0 var(--jaune),
        0 -4px 0 var(--jaune),
        4px 4px 0 var(--jaune),
        -4px -4px 0 var(--jaune),
        4px -4px 0 var(--jaune),
        -4px 4px 0 var(--jaune);
    font-size: 3rem;
    padding: 0;
    margin: 0;
}

.bold-text {
    font-weight: 700;
}

.section__scroll-icon {
    animation: bounce 2s infinite;
}



.lines {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 100%;

    .lines__item--green,
    .lines__item--yellow,
    .lines__item--red {
        width: 100%;
        height: 5px;
    }

    .lines__item--green {
        background-color: var(--vert)
    }

    .lines__item--yellow {
        background-color: var(--jaune)
    }

    .lines__item--red {
        background-color: var(--rouge)
    }
}

.separator {
    border-radius: 10px;
    width: 5px;
    height: 5px;
    background-color: var(--light);
}

.text-dark {
    color: var(--dark);
}

.carousel__button--prev {
    transform: rotate(180deg);
    left: 0;
}

.carousel__button--next {
    right: 0;
}

#download-program {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 1.2rem;
}

.download-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 50px;
    background-color: var(--light);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
    z-index: 50;
    border: none;
    font-size: 1rem;
}