body {
    margin: 0;
    padding: 0;
    background-color: var(--fond);
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

h1,
h2,
h3 {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

h1 {
    font-family: 'Magic-Vintage';
    color: var(--rouge);
    text-shadow: 0 0 10px var(--jaune);
    font-size: 3rem;
    padding: 0;
    margin: 0;
}

.section {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: var(--padding-section-v) var(--padding-section-h);
    gap: var(--gap-m);
}

.home-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    min-height: 800px;
    padding-block: var(--padding-section-h) 5px;

    #mascotte {
        height: 300px;
    }

    #scroll-icon {
        height: 50px;
    }
}

.home-content {
    gap: 10px;
}

.home-content,
.home-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    h2 {
        text-align: center;
    }
}

.lines {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 100%;

    .green,
    .yellow,
    .red {
        width: 100%;
        height: 5px;
    }

    .green {
        background-color: var(--vert)
    }

    .yellow {
        background-color: var(--jaune)
    }

    .red {
        background-color: var(--rouge)
    }
}

.grey-section {
    background-color: var(--grey);
    color: var(--light);
}

.reggae-section {
    background: url('/assets/images/section-background.avif');
    background-position: start;
    background-size: cover;

    h2 {
        color: var(--light);
    }
}

.licorn-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('/assets/images/licorn-bg.avif');
    background-position: center;
    background-size: cover;
    filter: brightness(1.3) saturate(1.8) blur(2px);
    z-index: -1;
}

.white-section {
    background-color: var(--light);
}

.licorn-section {
    background-color: rgba(0, 0, 0, 0.75);
    color: var(--light);
}

.home-card a {
    width: 100%;
    height: var(--card);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: var(--light);
    text-decoration: none;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        border-radius: 10px;
        filter: brightness(0.75);
        object-fit: cover;
    }

    .card-text {
        padding: var(--padding-card);
        position: relative;
        display: flex;
        flex-direction: column;
        z-index: 10;

    }
}

.carousel-container {
    overflow-x: scroll;
}

.carousel-items-list {
    width: 300%;
    display: flex;
    align-items: center;
}

.carousel-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
    }
}

.hero-section {
    position: relative;
}

.hero-banner {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        z-index: 10;
        font-size: 2.5rem;
    }

    button {
        color: var(--light);
        background: none;
        border: none;
        z-index: 10;
        text-decoration: underline;
    }
}

.hero-banner::before {
    content: "";
    position: absolute;
    top: 0;
    height: 250px;
    width: 100%;
    background: url('/assets/images/hero.avif');
    filter: brightness(0.75);
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 60px 40px;
    gap: 10px;
}

.hero-content-1 {
    .hero-card {
        width: 100%;
        position: relative;
        height: var(--thin-card);
        display: flex;

        a {
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: start;
            width: 100%;
            color: var(--light);
            text-decoration: none;

            span {
                padding: 15px;
                z-index: 10;
            }
        }

        img {
            position: absolute;
            width: 100%;
            height: var(--thin-card);
            object-fit: cover;
            border-radius: 10px;
            filter: brightness(0.75);
            z-index: 1;
        }
    }
}

.separator {
    border-radius: 10px;
    width: 5px;
    height: 5px;
    background-color: var(--light);
}

.white-card {
    background-color: rgba(255, 255, 255, 0.5);
    padding: var(--padding-card);
    height: var(--card);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

.team-list {
    display: flex;
    justify-content: space-between;
    align-items: end;

    img {
        width: 75px;
        height: 75px;
        border-radius: 50px;
    }

    .separator {
        height: 15px;
        width: 15px;
        background-color: var(--dark);
    }

    img:nth-of-type(2) {
        width: 100px;
        height: 100px;
    }
}

.edition-section {

    .themes,
    .valeurs {
        display: flex;
        flex-direction: column;
        align-items: start;

        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }

    .valeurs-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .valeur {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.programme-card {
    width: 100%;
    position: relative;
    height: var(--card);
    display: flex;

    a {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: 100%;
        color: var(--light);
        text-decoration: none;

        span {
            padding: 15px;
            z-index: 10;
        }
    }

    img {
        position: absolute;
        width: 100%;
        height: var(--card);
        object-fit: cover;
        border-radius: 10px;
        filter: brightness(0.75);
        z-index: 1;
    }
}