html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--fond);
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

h1,
h2,
h3 {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

button {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Magic-Vintage';
    color: var(--rouge);
    text-shadow: 0 0 10px var(--jaune);
    font-size: 3rem;
    padding: 0;
    margin: 0;
}

.bold-text {
    font-weight: 700;
}

#scroll-icon {
    animation: bounce 2s infinite;
}

.section {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: var(--padding-section-v) var(--padding-section-h);
    gap: var(--gap-m);
}

.section--home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    min-height: 800px;
    padding-block: var(--padding-section-h) 5px;

    #mascotte {
        height: 300px;
    }

    #scroll-icon {
        height: 50px;
    }
}

.section--home__content {
    gap: 10px;
}

.section--home__content,
.section--home__content__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    h2 {
        text-align: center;
    }
}

.lines {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 100%;

    .green,
    .yellow,
    .red {
        width: 100%;
        height: 5px;
    }

    .green {
        background-color: var(--vert)
    }

    .yellow {
        background-color: var(--jaune)
    }

    .red {
        background-color: var(--rouge)
    }
}

.section--grey {
    background-color: var(--grey);
    color: var(--light);
}

.section--reggae {
    background: url('/assets/images/section-background.avif');
    background-position: start;
    background-size: cover;

    h2 {
        color: var(--light);
    }
}

.section--licorn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('/assets/images/licorn-bg.avif');
    background-position: center;
    background-size: cover;
    filter: brightness(1.3) saturate(1.8) blur(2px);
    z-index: -1;
}

.section--white {
    background-color: var(--light);
}

.section--licorn {
    background-color: rgba(0, 0, 0, 0.75);
    color: var(--light);
}

.home-card a {
    width: 100%;
    height: var(--card);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: var(--light);
    text-decoration: none;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        border-radius: 10px;
        filter: brightness(0.75);
        object-fit: cover;
    }

    .card-text {
        padding: var(--padding-card);
        position: relative;
        display: flex;
        flex-direction: column;
        z-index: 10;

    }
}

.section--partenaire {
    padding: 20px;
}

.section--partenaire__carousel-container {
    overflow: hidden;
}

.section--partenaire__carousel-items-list {
    display: flex;
    width: calc(200%);
    animation: scroll 10s linear infinite;
}

.section--partenaire__carousel-item {
    flex: 0 0 33.3333%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section--partenaire__carousel-item img {
    width: 100%;
    height: auto;
}

.section--hero {
    position: relative;
}

.hero__banner {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        z-index: 10;
        font-size: 2.5rem;
    }

    button {
        color: var(--light);
        background: none;
        border: none;
        z-index: 10;
        text-decoration: underline;
    }
}

.hero__banner::before {
    content: "";
    position: absolute;
    top: 0;
    height: 250px;
    width: 100%;
    background: url('/assets/images/hero.avif');
    filter: brightness(0.75);
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 60px 40px;
    gap: 10px;
}

.hero__content--small {
    .hero__content__card {
        width: 100%;
        position: relative;
        height: var(--thin-card);
        display: flex;

        a {
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: start;
            width: 100%;
            color: var(--light);
            text-decoration: none;

            span {
                padding: 15px;
                z-index: 10;
            }
        }

        img {
            position: absolute;
            width: 100%;
            height: var(--thin-card);
            object-fit: cover;
            border-radius: 10px;
            filter: brightness(0.75);
            z-index: 1;
        }
    }
}

.separator {
    border-radius: 10px;
    width: 5px;
    height: 5px;
    background-color: var(--light);
}

.white-card {
    background-color: rgba(255, 255, 255, 0.5);
    padding: var(--padding-card);
    height: var(--card);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

.section--equipe__list,
.section--hebergement__list {
    display: flex;
    justify-content: space-between;
    align-items: end;

    img {
        width: 75px;
        height: 75px;
        border-radius: 50px;
    }

    .separator {
        height: 15px;
        width: 15px;
        background-color: var(--dark);
    }

    img:nth-of-type(2),
    a:nth-of-type(2) {
        width: 100px;
        height: 100px;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.section--edition {

    .section--edition__themes,
    .section--edition__valeurs {
        display: flex;
        flex-direction: column;
        align-items: start;

        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }

    .section--edition__valeurs__container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .valeur {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.programme-card,
.artistes-card,
.scenes-card {
    width: 100%;
    position: relative;
    height: var(--card);
    display: flex;

    a {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: 100%;
        color: var(--light);
        text-decoration: none;

        span,
        .artiste-info,
        .scenes-info {
            padding: 15px;
            z-index: 10;
            display: block;

            span {
                padding: 5px;
            }
        }
    }

    img {
        position: absolute;
        width: 100%;
        height: var(--card);
        object-fit: cover;
        border-radius: 10px;
        filter: brightness(0.75);
        z-index: 1;
    }
}

.hero__content--large {
    padding: var(--padding-section-v) var(--padding-section-h);
    gap: var(--gap-l);
}

.text-dark {
    color: var(--dark);
}

.section--tarifs__card {
    background-color: rgba(255, 255, 255, 0.75);
    padding: var(--padding-card);
    border-radius: 10px;

    h2 {
        text-align: start;
        color: var(--dark);
    }
}

.section--transport {

    h3 {
        text-align: start;
    }

    .options {
        display: flex;
        justify-content: space-between;
    }

    .autres {
        width: 100%;
    }

    .option {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        img {
            width: 80px;
            height: 80px;
            object-fit: cover;
            object-position: center;
            border-radius: 20px;
        }
    }
}

.faq-section h2 {
    margin: 0;
}

.faq-section h3 {
    text-align: start;
}

.section--faq__container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.section--faq__cat {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

details .details-content {
    display: block;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    margin-top: 0;
    transition: 0.5s;
}

details[open] .details-content {
    max-height: 500px;
    opacity: 1;
    margin-top: 10px;
}

.arrow {
    border: solid var(--light);
    transform: rotate(-45deg);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transition: 0.5s;
}

details[open] .arrow {
    transform: rotate(45deg);
}

details summary::marker {
    display: none;
}

details summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    cursor: pointer;
}

.section--contact {
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 2rem;
        text-shadow: none;
        color: var(--dark);
    }
}

.section--contact__content {
    padding: var(--padding-section-h);

    h2 {
        text-align: start;
    }

    .section--contact__background-image {
        content: '';
        background: url('/assets/images/licorn-bg.avif');
        background-position: center;
        background-size: cover;
        filter: brightness(1.3) saturate(1.8) blur(2px);
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;

    }

    .section--contact__form {
        position: relative;
        border-radius: 20px;
        overflow: hidden;
        padding: 50px 20px;
        display: flex;
        flex-direction: column;
        gap: var(--gap-m);
        background-color: rgba(0, 0, 0, 0.5);
        color: var(--light);
    }

    .email,
    .sujet,
    .message {
        display: flex;
        flex-direction: column;
        gap: 10px;

        input,
        textarea {
            background-color: rgba(0, 0, 0, 0.4);
            backdrop-filter: blur(10px);
            border: none;
            padding: 10px;
            color: var(--light);
            border-radius: 5px;
        }

        input::placeholder {
            color: var(--light);

        }

        textarea {
            min-height: 200px;
        }
    }

    button {
        padding: 10px;
        margin-inline: var(--gap-m);
        background-color: var(--grey);
        color: var(--light);
        border: none;
        border-radius: 10px;
        font-size: 1.2rem;
    }
}

.hero__banner-custom {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    img {
        position: absolute;
        object-position: center;
        object-fit: cover;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        filter: brightness(0.7);
    }

    h1 {
        z-index: 10;
        font-size: 2.5rem;
        color: var(--light);
        text-shadow: none;
    }
}

.artiste-info-card {
    background-color: var(--light);

    display: flex;
    width: 100%;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    backdrop-filter: blur(10px);

    .artiste-info-card-content {
        padding: var(--padding-card);
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .artiste-info-card-title,
    p {
        padding: var(--padding-card);
        margin: 0;
    }
}

.section--galerie {
    padding-inline: 0;
}

.section--galerie__carousel-button {
    flex: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
}

.carousel__button--prev {
    transform: rotate(180deg);
    left: 0;
}

.carousel__button--next {
    right: 0;
}

.section--galerie__carousel-list::-webkit-scrollbar {
    height: 0;
}

.section--galerie__carousel-list {
    width: 80%;
    display: flex;
    gap: 16px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.section--galerie__carousel-item {
    flex: 1 0 80%;
    scroll-snap-align: center;
}

.section--galerie__carousel {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 50px;
    width: 100%;
    flex-direction: row;
}

.section--galerie__carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#download-program {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 1.2rem;
}

.section--filtre {
    padding: 25px 50px;
}

.section--filtre__list {
    display: flex;
    gap: 20px;
    justify-content: space-between;

    button {
        background: none;
        border: none;
        color: var(--light);
        font-size: 1rem;
    }
}

.download-icon {
    display: flex;
    align-items: center;
    gap: 10px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 50px;
    background-color: var(--light);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
    z-index: 50;
    border: none;
    font-size: 1rem;
}

.section--filtre__btn-list {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    button {
        background: none;
        border: solid 2px var(--light);
        border-radius: 10px;
        padding: 10px;
        white-space: nowrap;
        background-color: rgba(255, 255, 255, 0.25);
        font-size: 1rem;
        font-weight: 600;
    }
}