body {
    margin: 0;
    padding: 0;
    background-color: var(--fond);
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

h1,
h2,
h3 {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

h1 {
    font-family: 'Magic-Vintage';
    color: var(--rouge);
    text-shadow: 0 0 10px var(--jaune);
    font-size: 3rem;
    padding: 0;
    margin: 0;
}

.section {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: var(--padding-section-v) var(--padding-section-h);
    gap: var(--gap-m);
}

.home-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    min-height: 800px;
    padding-block: var(--padding-section-h) 5px;

    #mascotte {
        height: 300px;
    }

    #scroll-icon {
        height: 50px;
    }
}

.home-content {
    gap: 10px;
}

.home-content,
.home-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    h2 {
        text-align: center;
    }
}

.lines {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 100%;

    .green,
    .yellow,
    .red {
        width: 100%;
        height: 5px;
    }

    .green {
        background-color: var(--vert)
    }

    .yellow {
        background-color: var(--jaune)
    }

    .red {
        background-color: var(--rouge)
    }
}

.grey-section {
    background-color: var(--grey);
    color: var(--light);
}

.reggae-section {
    background: url('/assets/images/section-background.avif');
    background-position: start;
    background-size: cover;

    h2 {
        color: var(--light);
    }
}

.licorn-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('/assets/images/licorn-bg.avif');
    background-position: center;
    background-size: cover;
    filter: brightness(1.3) saturate(1.8) blur(2px);
    z-index: -1;
}

.white-section {
    background-color: var(--light);
}

.licorn-section {
    background-color: rgba(0, 0, 0, 0.75);
    color: var(--light);
}

.home-card a {
    width: 100%;
    height: var(--card);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: var(--light);
    text-decoration: none;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        border-radius: 10px;
        filter: brightness(0.75);
        object-fit: cover;
    }

    .card-text {
        padding: var(--padding-card);
        position: relative;
        display: flex;
        flex-direction: column;
        z-index: 10;

    }
}

.carousel-container {
    overflow-x: scroll;
}

.carousel-items-list {
    width: 300%;
    display: flex;
    align-items: center;
}

.carousel-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
    }
}

.hero-section {
    position: relative;
}

.hero-banner {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        z-index: 10;
        font-size: 2.5rem;
    }

    button {
        color: var(--light);
        background: none;
        border: none;
        z-index: 10;
        text-decoration: underline;
    }
}

.hero-banner::before {
    content: "";
    position: absolute;
    top: 0;
    height: 250px;
    width: 100%;
    background: url('/assets/images/hero.avif');
    filter: brightness(0.75);
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 60px 40px;
    gap: 10px;
}

.hero-content-1 {
    .hero-card {
        width: 100%;
        position: relative;
        height: var(--thin-card);
        display: flex;

        a {
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: start;
            width: 100%;
            color: var(--light);
            text-decoration: none;

            span {
                padding: 15px;
                z-index: 10;
            }
        }

        img {
            position: absolute;
            width: 100%;
            height: var(--thin-card);
            object-fit: cover;
            border-radius: 10px;
            filter: brightness(0.75);
            z-index: 1;
        }
    }
}

.separator {
    border-radius: 10px;
    width: 5px;
    height: 5px;
    background-color: var(--light);
}

.white-card {
    background-color: rgba(255, 255, 255, 0.5);
    padding: var(--padding-card);
    height: var(--card);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

.team-list,
.hebergement-list {
    display: flex;
    justify-content: space-between;
    align-items: end;

    img {
        width: 75px;
        height: 75px;
        border-radius: 50px;
    }

    .separator {
        height: 15px;
        width: 15px;
        background-color: var(--dark);
    }

    img:nth-of-type(2),
    a:nth-of-type(2) {
        width: 100px;
        height: 100px;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.edition-section {

    .themes,
    .valeurs {
        display: flex;
        flex-direction: column;
        align-items: start;

        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }

    .valeurs-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .valeur {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.programme-card,
.artistes-card,
.scenes-card {
    width: 100%;
    position: relative;
    height: var(--card);
    display: flex;

    a {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: 100%;
        color: var(--light);
        text-decoration: none;

        span,
        .artiste-info,
        .scenes-info {
            padding: 15px;
            z-index: 10;
            display: block;

            span {
                padding: 5px;
            }
        }
    }

    img {
        position: absolute;
        width: 100%;
        height: var(--card);
        object-fit: cover;
        border-radius: 10px;
        filter: brightness(0.75);
        z-index: 1;
    }
}

.hero-content-2 {
    padding: var(--padding-section-v) var(--padding-section-h);
    gap: var(--gap-l);
}

.text-dark {
    color: var(--dark);
}

.tarifs-card {
    background-color: rgba(255, 255, 255, 0.75);
    padding: var(--padding-card);
    border-radius: 10px;

    h2 {
        text-align: start;
        color: var(--dark);
    }
}

.transport-section {

    h3 {
        text-align: start;
    }

    .options {
        display: flex;
        justify-content: space-between;
    }

    .autres {
        width: 100%;
    }

    .option {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        img {
            width: 80px;
            height: 80px;
            object-fit: cover;
            object-position: center;
            border-radius: 20px;
        }
    }
}

.faq-section h2 {
    margin: 0;
}

.faq-section h3 {
    text-align: start;
}

.faq-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.faq-cat {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

details .details-content {
    display: block;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    margin-top: 0;
    transition: 0.5s;
}

details[open] .details-content {
    max-height: 500px;
    opacity: 1;
    margin-top: 10px;
}

.arrow {
    border: solid var(--light);
    transform: rotate(-45deg);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transition: 0.5s;
}

details[open] .arrow {
    transform: rotate(45deg);
}

details summary::marker {
    display: none;
}

details summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    cursor: pointer;
}

.contact-section {
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 2rem;
        text-shadow: none;
        color: var(--dark);
    }
}

.contact-content {
    padding: var(--padding-section-h);

    h2 {
        text-align: start;
    }

    .contact-background-image {
        content: '';
        background: url('/assets/images/licorn-bg.avif');
        background-position: center;
        background-size: cover;
        filter: brightness(1.3) saturate(1.8) blur(2px);
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;

    }

    .contact-form {
        position: relative;
        border-radius: 20px;
        overflow: hidden;
        padding: 50px 20px;
        display: flex;
        flex-direction: column;
        gap: var(--gap-m);
        background-color: rgba(0, 0, 0, 0.5);
        color: var(--light);
    }

    .email,
    .sujet,
    .message {
        display: flex;
        flex-direction: column;
        gap: 10px;

        input,
        textarea {
            background-color: rgba(0, 0, 0, 0.4);
            backdrop-filter: blur(10px);
            border: none;
            padding: 10px;
            color: var(--light);
            border-radius: 5px;
        }

        input::placeholder {
            color: var(--light);

        }

        textarea {
            min-height: 200px;
        }
    }

    button {
        padding: 10px;
        margin-inline: var(--gap-m);
        background-color: var(--grey);
        color: var(--light);
        border: none;
        border-radius: 10px;
        font-size: 1.2rem;
    }
}