/* Variable collection */
:root {
    /* Mode 1 */
    /* color */
    --fond: #fff4c6;
    --light: #fefaf5;
    --rouge: #ed3f24;
    --vert: #6d9a02;
    --dark: #130e0a;
    --grey: #212529;
    --jaune: #fed506;
    /* number */
    --padding-card: 1.25rem;
    --gap-m: 1.5625rem;
    --padding-section-h: 2.5rem;
    --gap-l: 3.125rem;
    --padding-section-v: 6.25rem;
    --thin-card: 7.8125rem;
    --card: 12.5rem;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
        scale: 1.2;
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
        scale: 1;
    }
}

@font-face {
    font-family: "Magic-Vintage";
    src: url("/assets/fonts/Magic-Vintage.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}