footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 100px 20px;
    background: linear-gradient(to bottom, var(--grey), var(--dark));
    color: var(--light);
}

.footer__mentions-legale,
.footer__mentions-part,
.footer__nav {
    p {
        margin: 0;
        padding: 0;
    }

    a {
        color: var(--light);
    }
}

.footer__mentions-part {
    display: flex;
    flex-direction: column;
}

.footer__mentions-legale,
.footer__nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}