/* Header défault */
.header__headbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 5px;
    width: 100%;

    a {
        height: 75px;
        width: 75px;
        margin-inline: var(--padding-card);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .nav-btn {
        width: 50px;
        height: 25px;
        padding: 10px;
        gap: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-inline: var(--padding-card);
        background: none;
        border: none !important;

        .bar {
            width: 100%;
            height: 2px;
            border: solid 1px black;
            background-color: black;
        }
    }
}

.menu__content {
    height: 95vh;
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: end;
    flex-direction: column;
    transition: 0.4s;
    margin-top: var(--gap-l);

    ul {
        list-style: none;
        padding: 0;
        margin-inline: var(--padding-card);
        align-items: end;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-direction: column;
    }

    a {
        color: var(--light);
        text-decoration: none;
    }
}

.menu {
    transition: 0.4s;
    font-family: "Righteous", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    font-style: normal;
    z-index: 2;
}

.menu::before {
    content: "";
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    background: url('/assets/images/licorn-bg.avif');
    background-position: center;
    background-size: cover;
    filter: brightness(0.5);
    transition: 0.4s;
}

/* Header Fermé */
.menu--close::before {
    opacity: 0;
}

#download-program {
    font-size: 1.2rem;
}

.menu__content[aria-hidden='true'] {
    height: 0;
    overflow: hidden;
    background: none;
    transition: 0.4s;
    margin-top: 0;
}