details .faq__content {
    display: block;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    margin-top: 0;
    transition: 0.5s;
}

details[open] .faq__content {
    max-height: 500px;
    opacity: 1;
    margin-top: 10px;
}

.faq__arrow {
    border: solid var(--light);
    transform: rotate(-45deg);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transition: 0.5s;
}

details[open] .faq__arrow {
    transform: rotate(45deg);
}

details summary::marker {
    display: none;
}

details summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    cursor: pointer;
}