.section--hero {
    position: relative;
}

.hero__banner {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        z-index: 10;
        font-size: 2.5rem;
    }

    button {
        color: var(--light);
        background: none;
        border: none;
        z-index: 10;
        text-decoration: underline;
    }
}

.hero__banner::before {
    content: "";
    position: absolute;
    top: 0;
    height: 250px;
    width: 100%;
    background: url('/assets/images/hero.avif');
    filter: brightness(0.75);
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 60px 40px;
    gap: 10px;
}

.hero__content--small {
    .hero__content__card {
        width: 100%;
        position: relative;
        height: var(--thin-card);
        display: flex;

        a {
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: start;
            width: 100%;
            color: var(--light);
            text-decoration: none;

            span {
                padding: 15px;
                z-index: 10;
            }
        }

        img {
            position: absolute;
            width: 100%;
            height: var(--thin-card);
            object-fit: cover;
            border-radius: 10px;
            filter: brightness(0.75);
            z-index: 1;
        }
    }
}

.hero__content--large {
    padding: var(--padding-section-v) var(--padding-section-h);
    gap: var(--gap-l);
}

.hero__banner-custom {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    img {
        position: absolute;
        object-position: center;
        object-fit: cover;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        filter: brightness(0.7);
    }

    h1 {
        z-index: 10;
        font-size: 2.5rem;
        color: var(--light);
        text-shadow: none;
    }
}